.App {
  padding-left: 20px;
}

.App-header{
  margin-left: 20px;
  height: 80px;
  width: 1440px;
  background: #567BBB;
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: #FFF;
}
.App-tabel{
  padding: 10px 10px 10px 10px;
  width: 1440px;
  margin-left: 20px;
  margin-bottom: 20px;
  background: #567BBB;
  align-items: center;
  border-radius: 20px;
  color: #FFF;
}
.App-row{
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #032a6d;
}